*{
    box-sizing: border-box;
}
html{
    background-color: black;
}
body{
    margin: 0;
    padding: 0;
}
/*************** Header ***************/
header{
    font-size: 2em;
    height: 5em;
    line-height: 3em;
    padding-left: 0.5em;
    text-align: center;
}
header img{
    height: 4em;
    width: 100%;
}

/*************** Navigation ***************/
nav{
    
}

nav::after, nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav ul{
    background-color: blueviolet;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
    width: 90%;
}

nav li{
    float: left;
    width: 33.3333%;
}

nav li:nth-child(1){
    background-color: #e33d00;
}

nav li:nth-child(2){
    background-color:green;
}

nav li:nth-child(3){
    background-color:royalblue;
}

nav a{
    color: white;
    display: inline-block;
    padding: 1em 0.5em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/*************** Navigation ***************/

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 1em auto 1em auto;
}

.row{
    margin-bottom: 0.5em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
    float: left;
    padding-right: 0.5em;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.col-1-1{
    width: 100%;
}

.col-1-2{
    width: 50%;
}

.col-1-4{
    width: 25%;
}

.col-3-4{
    width: 75%;
}

.col-1-3{
    width: calc(100%/3);
}

.col-2-3{
    width: calc((100%/3)*2);
}
/************ Boxclasses - Not Necessary****/
[class*='rowbox']{
    height: 25em;
    padding: 0.5em;
}

.rowbox1{
    background-color: greenyellow;
}

.rowbox2{
    background-color:#9a8f8f;
    color: black;
    font-size: 1.2em;
}
.rowbox2 li{
    padding-bottom: 10px;
}
.rowbox2 p img{
    float: left;
    height: 60%;
    width: 50%;
    padding-left: 5px;
    padding-bottom: 10px;
}

.rowbox3{
    background-color:dodgerblue;
}

.rowbox4{
    background-color:orangered;
}

.rowbox5{
    background-color:fuchsia;
}

.rowbox6{
    background-color: greenyellow;
}
.col-1-2 p{
    font-size: 1.6rem;
    text-align: center;
}
.col-1-2 img{
    display: block;
    margin: auto;
}

/********** Responsive ***********/
@media only screen and (max-width:700px){
    body{
        background-color: black;
    }
    .col-1-1{
        width: calc(100%);
    }
    header{
        height: 2em;
        line-height: 2em;
        font-size: 1.5em;
    }
    header img{
        height: 2em;
        width: 10em;
    }
    
    nav ul{
        width: 100%;
    }
    .rowbox2 p img{
        width: 100%;
    }
    
}
@media only screen and (max-width:700px){
    body{
        background-color: black;
    }
    .col-1-1{
        width: calc(100%);
    }
    header{
        height: 2em;
        line-height: 2em;
        font-size: 1.5em;
    }
    header img{
        height: 2em;
        width: 10em;
    }
    
    nav ul{
        width: 100%;
    }
    .col-1-2{
        width: 100%;
    }
    
}







